semestr3/CSharp/LR4/FTP/Source/13.12.2020 23.51.50/13.12.2020 23.51.50.xsd

<?xml version="1.0" encoding="utf-16"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="Persons">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" name="Person">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="Name" type="xs:string" />
              <xs:element name="Surname" type="xs:string" />
              <xs:element name="Email" type="xs:string" />
              <xs:element name="PhoneNumber" type="xs:string" />
              <xs:element name="State" type="xs:string" />
              <xs:element name="City" type="xs:string" />
              <xs:element name="Address" type="xs:string" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>